################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FI.WebAtividadeEntrevista/.vs/FI.WebAtividadeEntrevista/FileContentIndex
/FI.WebAtividadeEntrevista/.vs/FI.WebAtividadeEntrevista/v17/.suo
/FI.WebAtividadeEntrevista/.vs/FI.WebAtividadeEntrevista/v17/DocumentLayout.json
/FI.WebAtividadeEntrevista/FI.WebAtividadeEntrevista/bin/FI.WebAtividadeEntrevista.dll
/FI.WebAtividadeEntrevista/FI.WebAtividadeEntrevista/bin/FI.WebAtividadeEntrevista.dll.config
/FI.WebAtividadeEntrevista/FI.WebAtividadeEntrevista/bin/FI.WebAtividadeEntrevista.pdb
/FI.WebAtividadeEntrevista/FI.WebAtividadeEntrevista/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FI.WebAtividadeEntrevista/FI.WebAtividadeEntrevista/obj/Debug/FI.WebAtividadeEntrevista.csproj.AssemblyReference.cache
/FI.WebAtividadeEntrevista/FI.WebAtividadeEntrevista/obj/Debug/FI.WebAtividadeEntrevista.dll
/FI.WebAtividadeEntrevista/FI.WebAtividadeEntrevista/obj/Debug/FI.WebAtividadeEntrevista.pdb
/FI.WebAtividadeEntrevista/FI.AtividadeEntrevista/bin/Debug/FI.AtividadeEntrevista.dll
/FI.WebAtividadeEntrevista/FI.AtividadeEntrevista/bin/Debug/FI.AtividadeEntrevista.pdb
/FI.WebAtividadeEntrevista/FI.AtividadeEntrevista/bin/Debug/FI.AtividadeEntrevista.Utils.dll
/FI.WebAtividadeEntrevista/FI.AtividadeEntrevista/bin/Debug/FI.AtividadeEntrevista.Utils.pdb
/FI.WebAtividadeEntrevista/FI.AtividadeEntrevista/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/FI.WebAtividadeEntrevista/FI.AtividadeEntrevista/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FI.WebAtividadeEntrevista/FI.AtividadeEntrevista/obj/Debug/FI.Ativi.A54B2C84.Up2Date
/FI.WebAtividadeEntrevista/FI.AtividadeEntrevista/obj/Debug/FI.AtividadeEntrevista.csproj.AssemblyReference.cache
/FI.WebAtividadeEntrevista/FI.AtividadeEntrevista/obj/Debug/FI.AtividadeEntrevista.csproj.CoreCompileInputs.cache
/FI.WebAtividadeEntrevista/FI.AtividadeEntrevista/obj/Debug/FI.AtividadeEntrevista.csproj.FileListAbsolute.txt
/FI.WebAtividadeEntrevista/FI.AtividadeEntrevista/obj/Debug/FI.AtividadeEntrevista.dll
/FI.WebAtividadeEntrevista/FI.AtividadeEntrevista/obj/Debug/FI.AtividadeEntrevista.pdb
/FI.WebAtividadeEntrevista/FI.AtividadeEntrevista.Utils/bin/Debug/FI.AtividadeEntrevista.Utils.dll
/FI.WebAtividadeEntrevista/FI.AtividadeEntrevista.Utils/bin/Debug/FI.AtividadeEntrevista.Utils.pdb
/FI.WebAtividadeEntrevista/FI.AtividadeEntrevista.Utils/obj/Debug
/FI.WebAtividadeEntrevista/FI.WebAtividadeEntrevista/.vs
/FI.WebAtividadeEntrevista/FI.WebAtividadeEntrevista/bin/FI.AtividadeEntrevista.dll
/FI.WebAtividadeEntrevista/FI.WebAtividadeEntrevista/bin/FI.AtividadeEntrevista.pdb
/FI.WebAtividadeEntrevista/FI.WebAtividadeEntrevista/bin/FI.AtividadeEntrevista.Utils.dll
/FI.WebAtividadeEntrevista/FI.WebAtividadeEntrevista/bin/FI.AtividadeEntrevista.Utils.pdb
/FI.WebAtividadeEntrevista/FI.WebAtividadeEntrevista/bin/NLog.dll
/FI.WebAtividadeEntrevista/FI.WebAtividadeEntrevista/bin/NLog.xml
/FI.WebAtividadeEntrevista/FI.WebAtividadeEntrevista/obj/Debug/FI.WebAtividadeEntrevista.csproj.CoreCompileInputs.cache
/FI.WebAtividadeEntrevista/FI.WebAtividadeEntrevista/obj/Debug/FI.WebAtividadeEntrevista.csproj.FileListAbsolute.txt
/FI.WebAtividadeEntrevista/FI.AtividadeEntrevista/.vs
